html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body{
    background-color: rgb(255, 255, 255);
}

.container {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
}

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: absolute;
    z-index: 1;
    line-height: 65px;
    text-align: center;
    background-color: #0cb4ec;
}

.nav div.logo {
    width: 180px;
    height: 10px;
}

.nav div.logo a {
    text-decoration: none;
    color: black;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
}

.nav div.logo a:hover {
    color: white;
}

.nav div.main_list {
    width: 600px;
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
}

.nav div.main_list ul li {
    width: 120px;
    height: 65px;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: black;
    line-height: 65px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav div.main_list ul li a:hover {
    color: #ffffff;
}

.nav div.media_button {
    width: 20px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}

.nav div.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: 0;
    border: none;
    cursor: pointer;
}

.nav div.media_button button.main_media_button span {
    width: 98%;
    height: 1px;
    display: block;
    background-color: black;
    margin-top: 9px;
    margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1) {
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #000000;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2) {
    transform: rotateY(180deg);
    transition: all 0.4s;
    background-color: #000000;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3) {
    transform: rotateY(180deg);
    transition: all 0.3s;
    background-color: #000000;
}

.nav div.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin-top: -20px;
}

.nav div.media_button button.active span:nth-of-type(2) {
    display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin-top: -20px;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 20deg);
    margin-top: -20px;
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -20deg);
    margin-top: -20px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .rows-header .row .text p {
        font-size: 30px;
    }

    .container {
        margin: 0;
    }

    .nav div.logo {
        margin-left: 15px;
    }

    .nav div.main_list {
        width: 100%;
        margin-top: 65px;
        height: 0px;
        overflow: hidden;
    }

    .nav div.show_list {
        height: 800px;
    }

    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 800px;
    }

    .nav div.main_list ul li {
        width: 100%;
        height: 80px;
        background-color: rgba(255, 255, 255, 0.4);
    }

    .nav div.main_list ul li a {
        text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
        color: #000;
    }

    .nav div.media_button {
        display: block;
    }
}

.header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.profile {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.skill {
    border-top: #ffffff 5px solid;
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
}

.contact {
    width: 100%;
    height: 200px;
    background-color: rgb(57, 55, 55);
}

.navbars {
    display: flex;
}

.navbar {
    font-size: 20px;
    font-weight: 600;
    margin: 5px 20px;
    cursor: pointer;
}

.nav-home {
    border: 1px solid black;
    padding: 5px;
}

.nav-profile {
    border: 1px solid black;
    padding: 5px;
}

.nav-skill {
    border: 1px solid black;
    padding: 5px;
}

.nav-project {
    border: 1px solid black;
    padding: 5px;
}

.nav-contact {
    border: 1px solid black;
    padding: 5px;
}

.rows-header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.rows-header .row {
    padding: 0px 70px 0px 70px;
    letter-spacing: 5px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.rows-header .row .text {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 700px;
    display: block;
    min-width: 0;
    font-weight: 800;
    text-shadow: 0 0 20px #000;
}

.text a {
    text-decoration: none;
}

.text p {
    position: relative;
    z-index: 0;
    text-align: center;
    font-size: 50px;
}

.rows-header .row .
img {
    width: 100%;
    max-width: 500px;
    min-width: 250px;
    height: auto;
    margin-top: 160px;
    margin-bottom: -5px;
}

.sosial-media {
    position: relative;
    z-index: 6;
    width: auto;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.sosial-media ul li {
    list-style: none;
    display: inline;
    margin: 20px;
}

.sosial-media ul li img {
    width: 30px;
}

/* skill */
.skill-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill .text {
    margin: 40px 0 20px 0;
    width: 25%;
    min-width: 350px;
    color: #ffffff;
    height: 20px;
    box-sizing: border-box;
    background: transparent;
    border: rgb(0, 0, 0) 2px solid;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 30px;
    font-weight: 800;
    padding: 30px;
    border: white 2px solid;
}

.skill .text:hover {
    color: #ffffff;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(255, 255, 255);
    background-color: #000;
}

/* hover */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 90px;
}

.container .box {
    position: relative;
    width: 350px;
    padding: 40px;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    border: rgb(255, 255, 255) 2px solid;
}

.container .box .icon {
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50px;
    font-size: 50px;
    border: 5px solid white;
    transition: 1s;
}

.container .box .icon::before {
    content: "";
    border: 3px solid white;
    height: 50px;
}

.container .box:nth-child(1) .icon {
    background: #e604da;
    box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.5);
}

.container .box:nth-child(2) .icon {
    background: #310ef8;
    box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.5);
}

.container .box:nth-child(3) .icon {
    background: #58006a;
    box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.5);
}

.container .box:nth-child(4) .icon {
    background: #0cb4ec;
    box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.5);
}

.container .box:nth-child(5) .icon {
    background: #218830;
    box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.5);
}

.container .box:nth-child(6) .icon {
    background: #ff0505;
    box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.5);
}

.container .box:nth-child(1):hover .icon {
    background: #e604da;
    box-shadow: 0 0 0 400px #e604da;
}

.container .box:nth-child(2):hover .icon {
    background: #310ef8;
    box-shadow: 0 0 0 400px #310ef8;
}

.container .box:nth-child(3):hover .icon {
    background: #580062;
    box-shadow: 0 0 0 400px #000000;
}

.container .box:nth-child(4):hover .icon {
    background: #0c00f7;
    box-shadow: 0 0 0 400px #0ccef0;
}

.container .box:nth-child(5):hover .icon {
    background: #ff0101;
    box-shadow: 0 0 0 400px #7d009c;
}

.container .box:nth-child(6):hover .icon {
    background: #000000;
    box-shadow: 0 0 0 400px #ec0c0c;
}

.container .box:hover .content {
    position: relative;
    z-index: 1;
    color: white;
}

.container .box .content h3 {
    font-size: 30px;
    color: white;
    margin: 10px 0;
}

.container .box .content p {
    margin: 0;
    padding: 20px 0;
}

.container .box .content a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background: #fff;
    border-radius: 4px;
    color: #000;
    font-weight: 500;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

/* fotter */
.footer {
    position: relative;
    width: 100%;
    bottom: 0px;
    background-color: #040138;
}

.footer .text {
    border-radius: 0;
    text-align: center;
    font-size: 15px;
    color: orangered;
    width: auto;
    box-shadow: none;
    background-color: transparent;
}

/* projects */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.container-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects {
    width: 100%;
    height: auto;
    border-bottom: 5px solid rgb(255, 255, 255);
    border-top: 5px solid rgb(255, 255, 255);
    padding-top: 30px;
}

.judul {
    position: relative;
    font-size: 30px;
    font-family: "Pacifico";
    text-shadow: white 0 0 25px;
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: #ffffff 1px solid;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-animation: bgubah 4s 3s alternate infinite;
    transition: all 1s ease;
    border-radius: 10px;
}

@-webkit-keyframes bgubah {
    0% {
        background: #aad4d1;
    }

    30% {
        background: #aafeff;
    }

    50% {
        background: #55ebff;
    }

    70% {
        background: #5a63eb;
    }

    90% {
        background: #9ea3ec;
    }

    100% {
        background: #85f4d2;
    }
}

.judul:hover {
    font-family: "Script";
    cursor: pointer;
    font-size: 30px;
}

.container-project {
    width: auto;
    display: flex;
    max-height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container-project .card {
    position: relative;
    max-width: 500px;
    height: 300px;
    border: 2px solid rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    margin: 50px 10px;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.container-project .card:hover {
    height: 500px;
}

.img1 img {
    width: 300px;
    height: 260px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0px;
}

.container-project .card .img1 {
    position: relative;
    border: 5px double rgb(255, 255, 255);
    width: 300px;
    height: 260px;
    top: -50px;
    left: 90px;
    box-shadow: 0.5px 10px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width:400px){
    .container{
    margin: 0px;
    padding: 0px;}
    .container-project .card .img1{
    width: 300px;
    height: 260px;
    top: -50px;
    left:0px;
    }
      .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 800px;
    }

    .nav div.main_list ul li {
        width: 100%;
        height: 80px;
        background-color: rgba(255, 255, 255, 1);
    }


}

.container-project,
.card,
.img1 img {
    max-width: 100%;
    cursor: pointer;
}

.container-project .card .content-project {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: rgb(255, 250, 250);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container-project .card:hover .content-project {
    visibility: visible;
    opacity: 1;
    margin-top: -20px;
    transition: 0.3s ease-in-out;
    font-family: "Pacifico";
}
